<!-- header -->
<%- include("partials/header.ejs") %>

<%- include("partials/list_left.ejs") %>

<!-- list -->

  <div class="list_box">
    <div class="list_title">
        <h2 contenteditable="true">Work</h2>
    </div>
    <div class="list_content">
        <ul>
            <form action="/lists/work" method="post" class="form">
                <li class="list_item new_list_item">
                    <input type="text" name="work_item_input" placeholder="New Item"> 
                    <input type="submit" value="+"> 
                </li>
            </form>

            
            <% if (locals.work_user_input){ %>
                <% for(let i= 0; i<work_user_input.length;i++){ %>
                    <form action="/lists/work" method="post" id="work_item_form<%= [i] %>" >
                        <li class="list_item new_item">        
                                <input type="checkbox">
                                <input type="text" class="item_input" name="work_item_input" value="<%= work_user_input[i] %>">
                                <input type="submit" name="delete" value="🗑"> 
                        </li>
                    </form>
                <% } %>
            <% } %>
      
        </ul>
    </div>
  </div>

<!--right list box-->
  
<%- include("partials/list_right.ejs") %>

  <!-- footer -->

  <%- include("partials/footer.ejs") %>